@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #212121;
  background-color: #f6f6f6;
}

input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
}

input:focus {
  border-color: #5b08a7;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #5b08a7;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 4px;
}

.btn-add {
  background-color: #00a762;
}

.btn-delete {
  background-color: #b72424;
}

.btn-logout {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: #212121;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn-logout:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #5b08a7;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table>thead>tr>th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
}

table>tbody>tr>td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.alert {
  padding: 1rem;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form .form {
  width: 360px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  padding: 34px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
}

.login-signup-form .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
}

.login-signup-form .form .message a {
  color: #5b08a7;
  text-decoration: none;
}

.login-button {
  background-color: #5b08a7 !important;
  color: #fff !important;
}

/* Login/Signup form */

#defaultLayout {
  display: flex;
}

#defaultLayout aside {
  width: 240px;
  background-color: #5b08a7;
  padding: 1rem;
}

#defaultLayout aside>a {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

#defaultLayout aside>a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
  flex: 1;
}

#defaultLayout header {
  height: 80px;
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#defaultLayout main {
  padding: 2rem;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*---------------------- Todo CSS----------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.todo-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.app-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app-title h2,
.app-title i {
  color: #002765;
}

.app-title i {
  font-size: 26px;
}

.todo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
}

.todo-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px;
  font-size: 17px;
  padding-left: 20px;
}

.todo-button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 15px 50px;
  border-radius: 30px;
  background-color: #ff5945;
  color: #fff;
  font-size: 18px;
  transition: all 0.25s ease;
}

button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 400px) {
  button {
    padding: 15px;
    border-radius: 0 30px 30px 0;
  }
}

ul {
  list-style: none;
}

ul li {
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  margin-top: 5px;
  user-select: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.edit-icon{
  margin-right: 30px;
  color: #00a762;
  font-size: large;
  cursor: pointer;
}
ul li .check {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: 0;
  border: 2px solid #ff5945;
  background-color: #fff;
}
ul li .check:hover{
  background-color: #fff !important;
}

ul .checked {
  color: #555;
  text-decoration: line-through;
}

ul .checked .check {
  background-color: #ff5945;
}

span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: large;
  transition: all 0.2s ease;
  cursor: pointer;
}

span:hover {
  background-color: #c9c9c9;
  color: #fff;
}


.edit-modal {
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rebeccapurple;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  pointer-events: none;
  margin-top: 100px;
}
.edit-modal.active {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0px;
}
.edit-modal input{
  width: 100%;
  border: 1px solid rebeccapurple;
  border-radius: 10px;
}
.edit-button{
  background-color: #ff5945 !important;
  color: #fff !important;
  margin-left: 20px;
}
.dropdown-btn{
  background-color: #5b08a7 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.loader {
  height: 25px;
  width: 25px;
}

.loading {
  pointer-events: none;
  /* Disable pointer events while loading */
  opacity: 0.7;
  /* Dim the button while loading */
}